/*
 * You can say something about your file if you need it!
 */
/*-------------------------*/
/* $Catalog 
---------------------------*/
/** 
 * Globel
 * Elements
 * Header
 * About
 * Quote
 * Skill
 * Experience
 * Work
 * Contact
 * Footer
 * Parallax graphic
**/

/*-------------------------*/
/* $Globel
---------------------------*/

/*-------------------------*/
/* $Elements
---------------------------*/
*{
	list-style: none;
	text-decoration: none;
}
/* $Background
-----------------*/
.bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../image/photo-1502252430442-aac78f397426.jpg);
	background-size: cover;
	background-position: center;
	opacity: 0.8;
}





/*-------------------------*/
/* $jumbotron
---------------------------*/
.jumbotron .container{
   padding: 0;
}

.jumbotron__title{
	color: #fefefe;

}
.jumbotron__item .image{
	height: 70vh;
	width: 100%;
	background-size: cover;
	background-position: top;
}
@media(max-width: 768px){
	.jumbotron__item .image{
		height:45vh;
	}
}
@media(max-height: 415px){
	.jumbotron__item .image{
		height:85vh;
	}
}
.jumbotron .owl-theme .owl-nav .owl-prev,
.jumbotron .owl-theme .owl-nav .owl-next{
     position: absolute;
     top: -38vh;
     width: 68px;
     height: 68px;
     color: #fff;
     background-color: rgba(0,0,0,.6);
     line-height: 68px;
     font-size: 68px;
     font-weight: 600;
}
@media(max-width: 768px){
	.jumbotron .owl-theme .owl-nav .owl-prev,
    .jumbotron .owl-theme .owl-nav .owl-next{
    	top: -30vh;
        width: 48px;
        height: 48px;
        line-height: 48px;
        font-size: 48px;
    }
}
.jumbotron .owl-theme .owl-nav .owl-prev:focus,
.jumbotron .owl-theme .owl-nav .owl-next:focus{
     outline: none;
}

.jumbotron .owl-theme .owl-nav .owl-prev{
   left: 2%;	
}
.jumbotron .owl-theme .owl-nav .owl-next{
   right: 2%;	
}

/*-------------------------*/
/* $About
---------------------------*/

.about{
	padding: 40px 20px;
}
.about-icon{
	width: 84px;
	height: 84px;
	border-radius: 50%;
	background-color: #eb4929;
	margin: 0 auto;
}
.about-icon .fa-quote-right{
    font-size: 28px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.about-title{
	text-align: center;
	font-weight: 600;
}
.about p{
	text-align: left;
	font-size: 24px;
	font-weight: 400;
	line-height: 48px;
}
@media(max-width: 768px){
	.about p{
		font-size: 18px;
	}
	.about-title{
		font-size: 30px;
	}
}
/*-------------------------*/
/* $photo caption
---------------------------*/
.photo-caption{
	padding:  60px 10px 60px 10px;
	background-color: #fffab0;
}
.photo-caption > h4{
	text-align: center;
	font-size: 48px;
}
.photo-item{
	float: left;
	width: 30%;
	margin: 15px;
}
@media(max-width: 768px){
	.photo-item{
		width: 40%;
	}	
}
@media(max-width: 320px){
	.photo-item{
		width: 38%;
	}	
}

.photo-text{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.4);
	text-align: center;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 32px;
	opacity: 0;
	transition: .3s;
}
.photo-item:hover .photo-text{
	opacity: 1;
}

.photo-text h4{
	font-size: 48px;
	color: #fff;
}
@media(max-width: 768px){
	.photo-text{
		font-size: 14px;
		line-height: 5px;
		opacity: 1;
	}
	.photo-text h4{
		font-size: 16px;
		margin-bottom: 5px;
		margin-top: 0;
	}
	.photo-item img{
		opacity: 0.8;
	}
}
/*-------------------------*/
/* $servide
---------------------------*/
.service{
	background: #ff8ffb;	
	padding: 20px 0;
}
.service-list {
	display: flex;
    justify-content: space-around;
    margin: 0;
}
.service-list .service-list-item{
	color: #e63168;
	font-size: 28px;
	padding: 20px 40px 5px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	background-color: #fff;
	border:5px solid #e63168;
	border-bottom: none;
	border-radius: 20px 20px 0 0;	
}
@media(max-width: 767px){
	.service-list .service-list-item{
		font-size: 16px;
		padding: 5PX 10PX ;
	}
	.service-list{
		padding: 0;
	}
}
.service-list .current{
	color: #fff;
	background-color: #e63168;
}
.service-list-item .fa{
	font-size: 48px;
	margin-bottom: 15px;
}
.content-item{
	color: #000;
	background-color: #fff;
	padding: 20px 40px 20px 120px;
	border-radius: 20px;	
	border:5px solid #e63168;
	margin: 0;
}
@media(max-width: 767px){
  .content-item{
  	padding: 20px;
  }
}
.content-item h4{
	color: #e63168;
	font-size: 30px;
	margin-bottom: 5px;
}
.content-item p{
	font-size: 24px;
	line-height: 1.5;
}



















