/*
 * You can say something about your file if you need it!
 */
/*-------------------------*/
/* $Catalog 
---------------------------*/
/** 
 * Globel
 * Elements
 * Header
 * About
 * Quote
 * Skill
 * Experience
 * Work
 * Contact
 * Footer
 * Parallax graphic
**/

/*-------------------------*/
/* $Globel
---------------------------*/

/*-------------------------*/
/* $Elements
---------------------------*/
*{
	list-style: none;
	text-decoration: none;
}
/* $Background
-----------------*/
.bg-color{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #484848;
	opacity: 0.5;
}
.bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image:url(../../image/pilgrimage/81104805_1719839581486580_7698330811921072128_o.jpg);
	background-size: cover;
	background-position: center;
	opacity: 0.2;
}



/*-------------------------*/
/* $jumbotron
---------------------------*/
.jumbotron{

}

.jumbotron__item{

}
.jumbotron__title{
	color: #fefefe;

}
.jumbotron__item .image{
	min-height: 56vh;
	background-size: cover;
	background-position: center;
}
/*-------------------------*/
/* $travel
---------------------------*/
.travel__title h1{
	text-align: center;
	color: #19449a;
}
.travel__title p{
	font-size: 32px;
	color: #fff;
	font-weight: 600;
}
.slogan{
	line-height: 48px;
}
.travel .warning{
   color:red;
}
@media(max-width: 767px){
  .travel__title h1{
     font-size: 32px;
}
.travel__title p{
	font-size: 24px;
	color: #fff;
	font-weight: 600;
}
.slogan{
	line-height: 24px;
}
.travel .warning{
   color:red;
}
}




/*-------------------------*/
/* $Contact
---------------------------*/
.contact{
	margin-bottom: 24px;
}

.contact-title{
	text-align: center;
	color: #484848;
	margin-top:48px;	
}
.contact-icon{
	text-align: center;
	font-size: 48px;
    color: #484848;
}
.contact-icon .fa-facebook-official{
     padding: 0 16px;
      color: #548dff;
}
.contact-icon .line{
      padding: 0 16px;
      font: 'arial';
      font-weight: 600;
}
.contact-icon .fa-youtube-play{
	  padding: 0 16px;
	  color: red;
}

.contact .or{
      font-size: 36px;
      padding: 12px 0;
}
.contact .info__email a{
	font-size: 28px;
	color: #484848;
}
.contact .info__phone a{
	font-size: 28px;
	color: #484848;
}
/*-------------------------*/
/* $Footer
---------------------------*/
.footer{
	padding: 6px 0;
	background-color: #000;
	text-align: center;
}
.footer p{
	color: #484848;
}




