/*
 * You can say something about your file if you need it!
 */
/*-------------------------*/
/* $Catalog 
---------------------------*/
/** 
 * Globel
 * Elements
 * Header
 * About
 * Quote
 * Skill
 * Experience
 * Work
 * Contact
 * Footer
 * Parallax graphic
**/

/*-------------------------*/
/* $Globel
---------------------------*/

/*-------------------------*/
/* $Elements
---------------------------*/
*{
	list-style: none;
	text-decoration: none;
}
/* $Background
-----------------*/
.bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../../image/rent/1.jpg);
	background-size: cover;
	background-position: center;
	opacity: 0.5;
}


/*-------------------------*/
/* $jumbotron
---------------------------*/
.jumbotron{

}

.jumbotron__item{

}
.jumbotron__title{
	color: #fefefe;

}
.jumbotron__item .image{
	min-height: 56vh;
	background-size: cover;
	background-position: center;
}
/*-------------------------*/
/* $rent intro
---------------------------*/
.rent-title{
	text-align: center;
	color: #fefefe;
	padding: 48px 0;
}
.rent-title h2{
	color: #fefefe;
}

.rent-photo{
	text-align: center;
	padding-bottom: 0;
}
.rent-photo img{
	width: 100%;
}
.rent-file{
	margin-left: 50px;
	color: #000;
	font-size: 24px;
    border-bottom: 1px solid #333;
    font-weight: 600;
}





/*-------------------------*/
/* $Contact
---------------------------*/
.contact{
	margin-bottom: 24px;
}

.contact-title{
	text-align: center;
	color: #484848;
	margin-top:48px;	
}
.contact-icon{
	text-align: center;
	font-size: 48px;
    color: #484848;
}
.contact-icon .fa-facebook-official{
     padding: 0 16px;
      color: #548dff;
}
.contact-icon .line{
      padding: 0 16px;
      font: 'arial';
      font-weight: 600;
}
.contact-icon .fa-youtube-play{
	  padding: 0 16px;
	  color: red;
}

.contact .or{
      font-size: 36px;
      padding: 12px 0;
}
.contact .info__email a{
	font-size: 28px;
	color: #484848;
}
.contact .info__phone a{
	font-size: 28px;
	color: #484848;
}
/*-------------------------*/
/* $Footer
---------------------------*/
.footer{
	padding: 6px 0;
	background-color: #000;
	text-align: center;
}
.footer p{
	color: #484848;
}




